#ugandagallery, #vegasgallery {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    /*overflow-x: auto;
    -ms-overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;*/
    overflow: scroll;
    white-space: nowrap;
    margin-left: 5px;
}

.gallery-container {
    overflow: hidden;
}

#ugandagallery img {
    height: 420px;    
}

#ugandatext {
    width:27%;
    float:left;
    white-space: normal;
    padding: 0 5px;
    min-width: 100px;
    font-family: Garamond, 'EB Garamond', serif;
}

#title {
    font-size: 18px;
    font-weight: bolder;
}

.gallery-title {
    text-align: center;
    font-family: Garamond, 'EB Garamond', serif;
    margin-top: 0;
}

#vegasgallery img {
    height: 100px;    
}

.kampala-images {
    display: inline-block;
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 60px;
}

#kampala-text > p {
    padding: 10px;
    margin-left: 20px;
}

.kampala-images > img {
    vertical-align: top;
    height: 100%;
    width: auto;
}