body {
    overflow-x: hidden;
}

#body {
    background-color: #fbfcfc;
}


#intro {
}

.container-fluid {
    margin: 5px;
}

.clip-row {
    /*height: 250px;*/
    overflow: visible;
    padding-left: 15px;
    padding-right: 0;
    margin-top: 40px;
}

.clip-thumb {
    max-height: 200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dateline {
    font-size: 0.8em;
}

#lead-image {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

a, a:active, a:hover, a:link, a:visited {
    /*color: #777;*/
    color: #373a3c;
    text-decoration: none;
}

/* Navbar */
.logo {
    max-width: 100%;
    max-height: 50px;
}

.navigation-container {
    width: 100%;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 50;
    -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
}

.navigation {
    height: 50px;
}

.navigation a {
    font-family: Garamond, 'EB Garamond', serif;
    font-size: 14px;
    padding-top: 5px;
    color: #797676;
    text-decoration: none;
    line-height: 50px;
}

.navigation a:hover {
    color: #e4ae25;
    text-decoration: underline;
}

.navigation div {
    text-align: center;
}

.navigation a.nav-link {
    line-height: 60px;
}

.stuck {
  position: fixed;
  top: 0;
  z-index: 50;
  padding-top: 20px;
  padding-bottom: 15px;
}
.alingrt {
    text-align: center;
    font-style: italic;
    font-family: Garamond, 'EB Garamond', serif;
    margin-bottom: 0px;
}

hr {
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 1px solid #ccc;
}

/* Gallery */
#gallery {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
}

.gallerycart .col-xs-12 {
    padding: 0px;
}

.item img {
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.carousel-control {
    background-image: none !important;
}

.slick-arrow {
    position: absolute;
    top: 49%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    cursor: pointer;
}

.slick-arrow.gallery-left {
    left: 5%;
}

.slick-arrow.gallery-right {
    right: 5%;
}

/* About */
#about-headline, #project-headline {
    text-align: center;
    font-family: Garamond, 'EB Garamond', serif;
    font-weight: 600;
    margin-top: 0px;
    line-height: 30px;
}

#about-image {
    float: right;
    width: 48%;
    height: auto;
    padding: 10px;
}

.about-container {
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
}

#contact, #contact-phone {
    font-size: 1.2em;
}

#footer {
    text-align: center;
    font-family: Garamond, 'EB Garamond', serif;
    font-size: 1.2em;
}

/* Projects */
.project-container {
    margin-top: 25px;
}

.project-hed {
    font-family: Garamond, 'EB Garamond', serif;
    margin-top: 0;
    font-weight: 600;
}

@media all and (max-width: 991px) {
    .clip-row {
        height: auto;
    }

    .clip-thumb {
        max-height: none;
    }

    #lead-image {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .item img { 
        width:100%;
    }

}

@media all and (max-width: 768px) {
    .logo {
        max-height: 12%;
    }

    .navigation {
        height: 8%;
    }

    .navigation a {
        font-size: 10px;
    }

    .navigation div {
        padding-left: 0;
        padding-right: 0;
    }

    .navigation-container {
        padding-left: 0;
        padding-right: 0;
    }
}